#usuarioIndividual {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   padding-bottom: 15px;
   text-align: left;
   border-bottom: 2px solid $color-accent2;
   font-size: 1rem;

   #usuarioIndividualRow {
      display: flex;
      justify-content: space-between;
      text-align: left;
   }
}

#agregarUsuarioForm {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
   .agregarUsuarioGroup {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      text-align: left;
   }
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
   background: rgba(0,0,0,0.8)!important;
}


